bin/Debug/net5.0/Coding-Problems.deps.json
bin/Debug/net5.0/Coding-Problems.dll
bin/Debug/net5.0/Coding-Problems.exe
bin/Debug/net5.0/Coding-Problems.pdb
.vscode/launch.json
.vscode/tasks.json
bin/Debug/net5.0/Coding-Problems.runtimeconfig.dev.json
bin/Debug/net5.0/Coding-Problems.runtimeconfig.json
bin/Debug/net5.0/ref/Coding-Problems.dll
obj/Coding-Problems.csproj.nuget.dgspec.json
obj/Coding-Problems.csproj.nuget.g.props
obj/Coding-Problems.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
obj/Debug/net5.0/apphost.exe
obj/Debug/net5.0/Coding-Problems.AssemblyInfo.cs
obj/Debug/net5.0/Coding-Problems.AssemblyInfoInputs.cache
obj/Debug/net5.0/Coding-Problems.assets.cache
obj/Debug/net5.0/Coding-Problems.csproj.AssemblyReference.cache
obj/Debug/net5.0/Coding-Problems.csproj.CoreCompileInputs.cache
obj/Debug/net5.0/Coding-Problems.csproj.FileListAbsolute.txt
obj/Debug/net5.0/Coding-Problems.dll
obj/Debug/net5.0/Coding-Problems.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net5.0/Coding-Problems.genruntimeconfig.cache
obj/Debug/net5.0/Coding-Problems.pdb
obj/Debug/net5.0/ref/Coding-Problems.dll
